.text-align-left {
    text-align: left;
}

.bin-card-header {
    display: flex;
    justify-content: space-between;
}

.bold-text {
    font-weight: bold;
}

ion-icon {
    font-size: 24px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.add-gap {
    gap: 10px;
}

.no-margin {
    margin: 0px;
}

.success-background .my-card-header-and-footer {
    background-color: rgb(0, 128, 0, 0.4);
}

.success-background .my-card-body {
    background-color: rgb(0, 255, 0, 0.2);
}

.danger-background .my-card-header-and-footer {
    background-color: rgb(255, 0, 0, 0.3);
}

.danger-background .my-card-body {
    background-color: rgb(255, 0, 0, 0.1);
}

.warning-background .my-card-body {
    background-color: rgb(255, 255, 0, 0.1);
}

.warning-background .my-card-header-and-footer {
    background-color: rgb(255, 255, 0, 0.3);
}