.square-box {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  max-width: 360px;
  max-height: 410px;
  overflow: hidden;
  text-align: center;
  color: #000;
}

.square-box:hover {
  background-color: #f7f7f7; 
  box-shadow: 0 0 15px rgba(61, 61, 61, 0.2); 
  color: #333; 
}

a {
  text-decoration: none;
}

.truncate-text {
  white-space: nowrap;      
  overflow: hidden;        
  text-overflow: ellipsis; 
}

.top {
  width: 100%;
  padding: 10px;
  text-align: left;
}

.middle {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: left;
  min-width: 0;
}

.column-container {
  display: flex;
  flex-direction: row;
}

.column {
  flex: 1;
  margin-right: 5px;
}
